@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FuturaPTMedium';
  src: url('./Utils/Fonts/FuturaPTMedium.otf') format('opentype');

}
@font-face {
  font-family: 'FuturaPTBook';
  src: url('./Utils/Fonts/FuturaPTBook.otf') format('opentype');

}

body {
  font-family: 'FuturaPTMedium', sans-serif;
  font-weight: normal;
}

.inverted-colors {
  background-color: black;
  color: white;
}

.inverted-colors a {
  color: white;
  /* Ensure links are visible */
}

.inverted-colors button {
  background-color: white;
  color: black;
}